.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
        "h h"
        "n c";
}

.header {
    grid-area: h;
    background-color: #a3e2eb;
    display: flex;
    align-items: center;
}

.header__wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header__logo {
    width: 50px;
    padding-left: 40px;
}

.nav {
    grid-area: n;
}

.nav__list {
    list-style: none;
}

.nav__link {
    text-decoration: none;
}

.content {
    grid-area: c;
}
